name: Deploy to Azure App Service

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: worldcities-api    # Set this to your App Service name
  DOTNET_VERSION: '8.0.x'
  NODE_VERSION: '18.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Build Angular frontend
      working-directory: ./worldcities.client
      run: |
        npm install
        npm run build -- --configuration production

    - name: Copy Angular build to wwwroot
      run: |
        mkdir -p WorldCities.Server/wwwroot
        cp -r worldcities.client/dist/worldcities.client/* WorldCities.Server/wwwroot/

    - name: Restore .NET dependencies
      working-directory: ./WorldCities.Server
      run: dotnet restore

    - name: Build .NET application
      working-directory: ./WorldCities.Server
      run: dotnet build --configuration Release --no-restore

    - name: Publish .NET application
      working-directory: ./WorldCities.Server
      run: dotnet publish -c Release -o ./publish --no-build

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./WorldCities.Server/publish

